{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/026a228444.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>

    <form action="" method="post">
        {% csrf_token %}
        <div id="form-wrapper">
            <div id="wrapper">
                <div class="create-section">
                    <h1 id="login-title">ÁNDALE</h1>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-user"></i>Usuario:</h3>
                        <h2 id="title-client-tag">{{form.username}}</h2>
                    </div>
                    <div class="create-element">
                        <h3><i class="fa-solid fa-lock"></i>Contraseña:</h3>
                        <h2 id="title-client-tag">{{form.password}}</h2>
                    </div>
                    {% if form.errors %}
                    <p>
                        Usuario o contraseña incorrectos.
                    </p>
                    {% endif %}
                </div>
            </div>
            <input type="submit" value="Ingresar" id="create-btn">

        </div>
    </form>
</body>

</html>