{% extends "base.html" %}

{% load humanize %}

{% block title %}Detalle de venta {% endblock %}

{% block content %}

<p><a href="{% url 'sales:sales_list' %}" id="search-btn" class="back-link"><i class="fas fa-chevron-left"></i>
        Volver
        a listado</a></p>

<div id="top-forms">
    <form method="post" id="search-form">
        {% csrf_token %}
        <div id="delete-label">
            <i class="fa-solid fa-circle-xmark"></i> Eliminar:
        </div>
        {{ detroy_object_form.field.as_hidden }}
        <input type="button" id="delete-btn" value="Eliminar Venta">
    </form>
</div>

<h1 id="list-title">Detalle de venta:</h1>

<div id="detail-wrapper">
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Fecha:</h2>
            <h2 id="title-client-tag">Orígen:</h2>
            <h2 id="title-client-tag">Total:</h2>
            <h2 id="title-client-tag">Pagado con:</h2>
        </div>
    </div>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="client-tag"> {{ sale.fecha |date }}</h2>
            <h2 id="client-tag">{{ sale.origen | capfirst}}</h2>
            <h2 id="total-tag">${{ sale.total | floatformat:2 | intcomma}}</h2>
            <h2 id="client-tag">{{ sale.pagado_con | capfirst}}</h2>
        </div>
    </div>
</div>

<script type="text/javascript">

    var input = document.getElementById("delete-btn")
    input.addEventListener("click", function () {
        if (confirm('Quiere eliminar la venta?')) {
            document.getElementById("search-form").submit()
        } else {
            return false;
        }
    });


</script>

{% endblock %}