:root{
    --main-color: #111;
    --accent-color: #fff;
    --red-accent-color:#f50004;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

a:visited{
    text-decoration: none;
    color: unset;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a, .dropdown-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

#nav-title{
    font-size: 23px;
    color: var(--accent-color);
    width: fit-content;
    margin: 25px auto;
}

.sidenav hr{
    margin: 10px 15px;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}
   
.active {
    background-color: #111;
    color: white;
}
  
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
  
  
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15vw;
    padding: 20px 10px;
    width: 85vw;
    height: 100vh;
}

#main-dashboard{
    width: 95%;
    height: fit-content;
}

/*------forms-----*/

#form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15vh;
}

#wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 20px 0;
    border: 1px solid #c4c4c4;
    box-shadow: 1px 1px 20px gray;
    border-radius: 5px;
    padding: 20px 0;
}

#detail-wrapper{
    width: 100%;
    height: fit-content;
    margin: 20px auto;
    border: 1px solid #c4c4c4;
    box-shadow: 1px 1px 20px gray;
    border-radius: 5px;
    padding: 20px 0;
  
}

.create-section{
    padding: 20px;
    margin: 0 30px;
}

#login-title{
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.create-element{
    padding: 5px;
}

#create-btn{
    width: fit-content;
    font-size: 15px;
    border: none !important;
    padding: 7px 15px;
    text-transform: uppercase;
    background-color: var(--red-accent-color);
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s;
    outline: none !important;
}

#create-btn:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 177);
    color: var(--main-color);
}

#wrapper input{
    width: 200px;
    outline: none;
    border: 1px solid #c4c4c4;
    padding: 5px;
    transition: all 0.2s;
    text-align: left;
    font-size: 15px;
    border-radius: 3px;
  }
  
#wrapper input:focus{
    outline:1px solid var(--red-accent-color);
}
  
#wrapper select:focus{
    outline:1px solid var(--red-accent-color);
}
  
#wrapper select {
    width: 200px;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    padding: 5px;
    transition: all 0.2s;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
}
  
#wrapper input:valid {
    background-color: #fff !important;
    outline:1px solid var(--red-accent-color);
}
  
#wrapper select:valid{
    outline:1px solid var(--red-accent-color);
  
}
  
#wrapper h3{
    font-weight: normal;
    font-size: 17px;
}
  
#wrapper i{
    color: var(--main-color);
    margin-right: 5px;
    font-size: 15px;
}

/*------forms-----*/
/*------lists-----*/

#list-title {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    background-color:  var(--main-color);
    color: #fff;
    padding: 10px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

#empty-title{
    width: fit-content;
    margin: 0px auto;
    font-weight: normal;
    font-size: 20px;
}

#list-title-errors{
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    background-color:  var(--red-accent-color);
    color: #fff;
    padding: 10px;
    border: 2px solid var(--red-accent-color);
    border-radius: 5px;
}

#back-title{

}

.title-movement-card {
    padding: 0 30px;
    height: fit-content;
    background-color: transparent;
    font-size: 14px;
    color: #232230;
}


#title-client-tag {
    width: 20%;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    padding: 5px 0;
}

#client-tag {
    color: #232230;
    font-weight: normal;
    font-size: 15px;
    width: 20%;
    text-align: center;
    padding: 5px 0;
}

#total-tag{
    font-size: 15px;
    font-weight: normal;
    width: 20%;
    text-align: center;
    color: var(--red-accent-color);
    padding: 5px 0;
}
  

.movement-card {
    padding: 0 30px;
    height: fit-content;
    background-color: transparent;
    transition: all 0.5s;
  }
  
.movement-card:hover {
    cursor: pointer;
    background-color: #c4c4c4;
}

#card-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 7px;
    border-bottom: 1px solid rgb(177, 177, 177);
}

#total-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid rgb(177, 177, 177);
    background-color: #c4c4c4c4;
    padding: 7px;
}

#top-forms{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 20px;
}
  
#search-label{
    font-size: 15px;
}

#search-form{
    width: fit-content;
    margin-top: 20px;
}
  
#search-form div {
    margin-bottom: 10px;
}
  
#search-btn{
    width: 100px !important;
    font-size: 15px;
    border: none !important;
    padding: 7px 10px;
    background-color: var(--red-accent-color);
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s;
    outline: none !important;
    margin: 0 !important;
}
  
#search-btn:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 177);
    color: var(--main-color);
}
  
#search-form input{
    width: 150px;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#search-form select{
    width: 150px;
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
#search-form input:valid{
    outline: 1px solid var(--red-accent-color);
}

#search-form select:valid{
    outline: 1px solid var(--red-accent-color);
}

/*------lists-----*/

/*----details-----*/

#delete-btn{
    font-size: 15px;
    border: none !important;
    padding: 7px 10px;
    background-color: var(--red-accent-color);
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s;
    outline: none !important;
    float: right;
}

#list-delete-btn{
    font-size: 15px;
    border: none !important;
    padding: 7px 10px;
    background-color: var(--red-accent-color);
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s;
    outline: none !important;
    width: fit-content;
    margin: 0 auto;    
}

#delete-btn:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 177);
    color: var(--main-color);
}

#list-delete-btn:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 177);
    color: var(--main-color);
}

#delete-label{
    font-size: 15px;
}

/*----details-----*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

