{% extends "base.html" %}

{% load humanize %}

{% block title %}Detalle de gasto {% endblock %}

{% block content %}

<p><a href="{% url 'expenses:expenses_list' %}" id="search-btn" class="back-link"><i class="fas fa-chevron-left"></i>
        Volver
        a listado</a></p>
<div id="top-forms">
    <form method="post" onsubmit="confirm('Confirme para eliminar el gasto')" id="search-form">
        {% csrf_token %}
        <div id="delete-label">
            <i class="fa-solid fa-circle-xmark"></i> Eliminar:
        </div>
        {{ detroy_object_form.field.as_hidden }}
        <input type="submit" id="delete-btn" value="Eliminar Producto">
    </form>
</div>
<h1 id="list-title">Viendo gasto: {{expense}}</h1>

<div id="detail-wrapper">
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="title-client-tag">Fecha agregado:</h2>
            <h2 id="title-client-tag">Nombre:</h2>
            <h2 id="title-client-tag">Tipo:</h2>
            <h2 id="title-client-tag">Monto:</h2>
        </div>
    </div>
    <div class="title-movement-card">
        <div id="card-row-1">
            <h2 id="client-tag"> {{ expense.fecha |date }}</h2>
            <h2 id="client-tag">{{ expense.nombre}}</h2>
            <h2 id="client-tag">{{ expense.tipo | capfirst}}</h2>
            <h2 id="total-tag">${{ expense.monto | floatformat:2 | intcomma}}</h2>
        </div>
    </div>
</div>
{% endblock %}